.button {
  height: 40px;
  border: none;
  background: aqua;
  color: black;

  overflow: hidden;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.button:before {
  content: "\f060";
  position: absolute;

  top: 10px;
  left: -30px;
  transition: all 200ms ease;
}

.button:hover::before {
  left: 7px;
}
